a, a:hover {
    text-decoration: none;
}

#minesweeper .block {
    display: block;
    background-color: #fff;
    font: 1.5em monospace;
    float: left;
    border: 1px solid #ccc;
    padding: 2px 7px;
    margin: -1px;
}

#minesweeper .marked {
    background-color: #ccc;
}

#minesweeper .error {
    color: red;
}